* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section */

header {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-card {
    padding: 8px;
    width: 33%;
    
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-txt {
    font-size: 18px;
    color: #e5e7eb;
    padding: 16px 8px;
}

.hero-card button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
}

.hero-img {
    width: 300px;
    height: 225px;
    align-self: center;
}